<div>
	<% i = 1 %>
	<%#= $ids_etapas %>
	<%# $fixture.each do |fecha| %>
		<p>FECHA <#%= i %></p>
		<%# fecha.each do |encuentro| %>
			<p><%#= encuentro[0] %> vs <%#= encuentro[1]%></p>
		<%# end %>	
		<%# i += 1 %>
	<%# end %>

</div>