<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Bienvenido a Winner</h1>
		<p>Usted ha sido incorporado a una nueva competencia en nuestro sistema</p>
		<p>Para mayor información visítenos en nuestra página Winner </p>
		<!-- poner direccion registro
		buscar nueva cosas por poner-->	
		<p>Winner</p>
		<p>Sistema de gestión de competencias deportivas</p>
		
	</body>
</html>