<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo rol juez:</strong>
  <%= @rol_juece.tipo_rol_juez %>
</p>

<%= link_to 'Edit', edit_rol_juece_path(@rol_juece) %> |
<%= link_to 'Back', rol_jueces_path %>
