<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo rol tec:</strong>
  <%= @rol_tecnico.tipo_rol_tec %>
</p>

<%= link_to 'Edit', edit_rol_tecnico_path(@rol_tecnico) %> |
<%= link_to 'Back', rol_tecnicos_path %>
