/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body {
  background-color:#ffffff;
}

/*--- Fuentes ---*/
.home {
    border: 5px solid #eee;
    border-radius: 10px;
    padding: 20px;
}

.pHome{
	text-align: justify;
}

h3, .h3 {
    font-size: 20px;
}

.home h1, h2, h3{
    margin-bottom: 10px;
    margin-top: 0px;
}
.panel-default .panel-heading {
    background-color: #0069b2;
    border-color: #ddd;
    color: #fff;
}

.navbar-text a{
    color: #fff;
}

.navbar-text a:hover {
    color: #fff;
	background-color: transparent;
	text-decoration: underline
}

/*--- Barra de Navegacion ---*/

.navbar-default {
    background-color: #ff9e11;
    border-color: #ff780e;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
}

.navbar-default .navbar-toggle {
    border-color: #bf5a0a;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff ;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ff780e;
}

.navbar-default .navbar-toggle .icon-bar:hover {
    background-color: #bdbdbd ;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ff780e;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

/*--- Slider ---*/

.carousel-inner {
    border-bottom: 10px solid #bdbdbd;
	border-top: 5px solid #bdbdbd;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    left: 20%;
    padding-bottom: 30px;
    right: 20%;
}

.sliderHome{
    margin-top: -20px;
    margin-bottom: 20px;
}

.carousel{
    margin-top: 20px;
}

.carousel a{
    background: transparent;
}

.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.8s ease-in-out left;
}

.item1{
    background-image: url("slide1.jpg");
}

.item2{
    background-image: url("slide4.jpg");
}

.item3{
    background-image: url("slide3.jpg");
}

.iconCenter{
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}

/*--- Contenido ---*/
.panel h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*--- Barra de publicidad ---*/

.anuncio{
    width:100%;
    height:100%;
}

.nav li a:hover, .nav li a:focus {
    background-color: transparent;
    text-decoration: none;
}

/*--- Anuncios ---*/
 .anuncios{
	margin-top:10px;
 }
 
 .anuncio-item{
	margin-top: 10px;
 }
/*--- Footer ---*/

.footer{
    background-color: #ff780e;
    height: 60px;
    position: absolute;
    width: 100%;
	margin-top: 20px;
}

.text-muted{
    color: #ffffff;
}

.container .text-muted {
    margin: 20px 0;
}
